#about {
    padding: 50px;
    background-color: var(--cor-diferenciado-branco);
}

#about > div{
    margin: auto;
    max-width: 1296px;
    display: flex;
    justify-content: center;
}

#about > div > div {
    width: fit-content;
    display: flex;
}

.contact-with-image {
    width: fit-content;
    height: fit-content;
    position: relative;
    padding-bottom: 50px;
    margin-right: 150px;
}

#about img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

div.contact-us {
    position: absolute;
    left: 200px;
    top: 290px;
    background-color: var(--cor-contraste);
    width: 411px;
    color: white;
    padding: 50px;
    border-radius: 10px;    
}

div.contact-us h2 {
    font-family: var(--fonte-padrao);
    margin-bottom: 20px;
}

div.contact-us > div {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

div.contact-us > div > div {
    display: flex;
    gap: 20px;   
}

div.contact-us > div > div > div p{
    font-weight: light;
}

#about .we-provide {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#about .we-provide h2{
    font-weight: lighter;
    font-size: 55px;
}

#about .we-provide strong {
    font-size: 18px;
    font-weight: 500;
}

.button-about {
    width: fit-content;
    text-decoration: none;
    text-align: center;
    font-size: 0.8em;
    color: var(--cor-contraste);
    padding: 15px 20px;
    border: 2px solid var(--cor-contraste);
    border-radius: 50px;
    font-weight: bold;
}

.button-about:hover {
    background-color: var(--cor-cinza);
}

@media screen and (max-width: 1269px){
    #about > div > div {
        margin: 0;
        flex-direction: column;
    }

    .contact-with-image {
        display: flex;
        gap: 10px;
        margin: 0;
    }

    #about .we-provide {
        width: fit-content;
    }

    #about img {
        width: 100%;
    }

    div.contact-us {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        position: static;
        left: 0;
        right: 0;
        transform: translate(0, 0);
    } 
}
