#about {
    padding: var(--padding-section-pc);
}

#about > div > div {
    width: fit-content;
    display: flex;
}

.contact-with-image {
    width: fit-content;
    margin-right: var(--margin-2);
}

#about img {
    width: var(--width-img-about);
    height: var(--width-img-about);
}

div.contact-us {
    position: absolute;
    left: var(--left-section-info);
    top: var(--top-section-info);
    width: var(--width-info); 
}

#about .we-provide {
    width: var(--width-weprovide);
}

#about .we-provide h2{
    font-size: var(--h2-size-pc);
}

.button-about {
    width: fit-content;
}

@media screen and (max-width: 1269px){
    #about > div > div {
        margin: 0;
        flex-direction: column;
    }

    .contact-with-image {
        display: flex;
        gap: var(--gap-1);
        margin: 0;
    }

    #about .we-provide {
        width: fit-content;
    }

    #about img {
        width: var(--cem-width);
    }

    div.contact-us {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: var(--cem-width);
        position: static;
        left: 0;
        right: 0;
        transform: translate(0, 0);
    } 
}
