#blog {
    padding: var(--padding-section-pc);
}

.line-1-blog {
    display: flex;
    flex-direction: row;
}

#blog h2 {
    font-size: var(--h2-size-pc);
}

.line-1-blog a {
    width: var(--width-14);
    margin-top: 0;

}

.blog-destaque {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.blogs {    
    height: var(--height-3);
    width: var(--cem-width);
    display: grid;
    grid-template-rows: var(--grid-size-standart) var(--grid-size-standart);
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-size-1), var(--grid-size-standart)));
    gap: 20px;
}

.blogs article {
    max-width: none;
    margin: 0;
    width: var(--cem-width);
}

@media screen and (max-width: 1269px) {
    .blog-destaque {
        grid-column-end: 1;
    }
}