#blog {
    padding: 50px;
    background-color: var(--cor-diferenciado-branco);
}

#blog > div {
    max-width: 1296px;
    margin: auto;
}

#blog img {
    height: 60%;
    object-fit: cover;
    width: 100%;
}

.line-1-blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

#blog h2 {
    font-size: 55px;
    font-weight: lighter;
}

.line-1-blog a {
    text-decoration: none;
    color: var(--cor-contraste-do-contraste);
    background-color: var(--cor-destaque);
    padding: 15px;
    border-radius: 50px;

}

.line-1-blog a:hover {
    background-color: var(--cor-destaque-claro);
}

.blogs {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
    gap: 20px;
}

.blog-destaque {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

#blog article a{
    text-decoration: none;
    color: var(--cor-contraste);
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    overflow: hidden;   
    background-color: var(--cor-contraste-do-contraste);
}

#blog article a:hover {
    background-color: var(--cor-cinza);
}

#blog article a div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 50%;
}