header > #title {
    padding: var(--padding-section-pc);
}

#title h2 {
    font-size: var(--h2-size-pc-especial);
}

#title p {
    width: var(--mid-width);
    margin: auto;
}

#blogs {
    padding: var(--padding-section-pc); 
}

.search-blog label {
    top: var(--top-1);
}

.search-blog input:focus + label {
    left: 0;
}

.search-blog {
    padding: var(--padding-section-pc) 0;
}

.blog {
    width: fit-content;
}

.blog a {
    width: var(--width-blog-page);
}
