#menu {
    padding: var(--padding-section-pc) 0;
    text-align: center;
}

#menu h2 {
    font-size: var(--h2-size-phone);
    font-weight: lighter;
    margin-bottom: var(--margin-6);
}

#menu div:has(article) {
    width: var(--full-screen-width);
    display: flex;
    overflow-y: scroll;
    justify-content: space-around;
}

#menu div:has(article)::-webkit-scrollbar {
    display: none;
}

#menu div article {
    flex-shrink: 0;
    width: var(--width-menu-item);
    margin: 0 calc(var(--mid-width-screen) - var(--width-menu-item)/2);
}

#menu a {
    max-width: var(--width-menu-item);
    border: var(--border-width-2) solid var(--cor-contraste);
    padding: var(--padding-4);
    border-radius: var(--border-radius-1);
    display: flex;
    flex-direction: column;
    gap: var(--gap-6);
    align-items: center;
    text-decoration: none;
    color: var(--cor-contraste);
}

#menu article a:hover, #menu article a:focus {
    background-color: var(--cor-diferenciacao);
}

#menu article p, #menu article h3 {
    text-align: center;
}

#menu article p.explore_menu {
    color: var(--cor-destaque);
    font-weight: bolder;
}

#menu article div:has(svg) {
    background-color: var(--cor-cinza);   
    width: var(--width-1);
    height: var(--height-4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--full-radius);
}