#menu h2 {
    font-size: 55px;
}

#menu div:has(article) {
    margin: auto;
    padding: 0 10px;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1296px;
}              

#menu article div:has(svg) {
    background-color: var(--cor-cinza);   
    width: 103px;
    height: 101px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#menu div article {
    margin: 0;
}

.guide-balls {
    display: none;
}