#menu h2 {
    font-size: var(--h2-size-pc);
}

#menu div:has(article) {
    margin: auto;
    padding: 0 var(--padding-5);
    gap: var(--gap-9);
    flex-wrap: wrap;
    max-width: var(--width-size-max);
    justify-content: center;
}              

#menu article div:has(svg) {
    background-color: var(--cor-cinza);   
    width: var(--width-1);
    height: var(--height-4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--full-radius);
}

#menu div article {
    margin: 0;
}