#more-about-us {
    padding: var(--padding-section-pc);
}

#more-about-us > div > div{
    width: fit-content;
    display: grid;
    grid-template-columns: var(--grid-size-2) var(--grid-size-3);
    grid-template-rows: var(--grid-size-4) var(--grid-size-3);
    gap: var(--gap-13);
}

#more-about-us img {
    width: var(--cem-width);
    object-fit: cover;
    border-radius: var(--border-radius-1);
}

#more-about-us img.destaque {   
    display: inline-block;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

#more-about-us .efeito-imagem {
    margin-top: var(--margin-9);
}

@media screen and (min-width: 1296px){
    #more-about-us > div {
        justify-content: space-between;
    }

    #more-about-us article {
        width: var(--width-2);
    }
}

#more-about-us h2 {
    font-size: var(--h2-size-pc);
}

#more-abouts-us ul {
    margin-top: var(--margin-10);
}