#contact {
    max-width: 1296px;
}

#contact .informations {
    flex-direction: row;
}

div:has(nav) {
    width: 100%;
    padding: 10px 100px;
}

nav {
    padding: 10px 0;
    max-width: 1296px;
}

.logo a, .logo{
    font-size: 1.2em;
}

nav ul {
    display: block;
    border: none;
    position: static;
    left: 0;
    right: 0;
    transform: translate(0, 0);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.exit, .hamburguer{
    display: none;
}

nav ul a {
    padding: 7px;
    width: 77px;
}

.header_main {
    padding: 50px 0;
}

.header_main > div {
    padding: 20px;
    width: 600px;
}

.header_main h2 {
    font-size: 5em;
}