#contact {
    max-width: var(--width-size-max);
}

#contact .informations {
    flex-direction: row;
}

div:has(nav) {
    width: var(--cem-width);
    padding: var(--padding-10);
}

nav {
    padding: var(--padding-11) 0;
    max-width: var(--width-size-max);
}

.logo a, .logo{
    font-size: var(--p-size);
}

nav ul {
    width: var(--mid-width);
    border: none;
    position: static;
    left: 0;
    right: 0;
    transform: translate(0, 0);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.hubs {
    display: flex;
    align-items: center;
    gap: var(--gap-25);
}

.exit, .hamburguer{
    display: none;
}

nav ul .hubs a {
    padding: var(--padding-12);
    width: var(--width-3);
}

nav ul .book {
    width: fit-content;
    padding: var(--padding-16);
}

.header_main {
    padding: var(--padding-section-pc) 0;
}

.header_main > div {
    padding: var(--padding-13);
    width: var(--width-4);
}

.header_main h2 {
    font-size: var(--h2-main-size-pc);
}

.buttons_main a {
    width: auto;
}