div:has(#contact){
    background-color: var(--cor-contraste);
    width: 100%;
    padding: 20px;
}

#contact {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#contact .informations {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.9em;
}

#contact .social a:has(svg):hover {
    background-color: var(--cor-semi-semi-preto);
}

#contact .informations div, #contact .social{
    display: flex;
    gap: 10px;
    color: var(--cor-contraste-do-contraste);
    align-items: center;
}

#contact .social a:has(svg){
    background-color: var(--cor-contraste-blur);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

nav {
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a, .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--cor-contraste);
    font-size: 1.05em;
}

nav ul {
    display: none;
    flex-direction: column;
    border: 0.5px solid black;
    border-radius: 10px;
    background-color: var(--cor-contraste-do-contraste);
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
}

.hamburguer {
    border:none;
    color: transparent;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 10px;
    border-radius: 10px;
}

.hamburguer:hover {
    background-color: var(--cor-contraste);
}

.hamburguer span{
    display: block;
    background-color: var(--cor-contraste);
    width: 20px;
    height: 2px;
}

.hamburguer:hover span {
    background-color: var(--cor-contraste-do-contraste);
}

.exit button{
    border: none;
    background-color: transparent;
}

nav ul a, .exit button{
    width: 70vw;
    text-decoration: none;
    text-align: center;
    color: var(--cor-contraste);
    display: block;
    font-weight: 500;
    padding: 20px;
    border-radius: 50px;
}

.exit button:hover, .exit button:focus {
    background-color: var(--cor-destaque);
    color: white;
}

nav ul a:hover, nav ul a:focus{
    background-color: var(--cor-semi-preto);
}

nav ul a.actual {
    background-color: var(--cor-semi-preto);
}

nav .book{
    text-decoration: none;
    text-align: center;
    font-size: 0.8em;
    color: var(--cor-contraste);
    padding: 15px;
    border: 2px solid var(--cor-contraste);
    border-radius: 50px;
    font-weight: bold;
}

nav .book:hover, nav .book:focus{
    background-color: var(--cor-semi-preto);
}

.header_main {
    background-color: var(--cor-contraste);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.216), rgba(0, 0, 0, 0.101)), url('../imgs/imagem_header.png');
    text-align: center; 
}

.header_main > div {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background-color: var(--semi-transparente);
    border-radius: 10px;
    padding: 100px;
}

.header_main h2 {
    font-size: 3em;
    font-weight: 200;
}

.header_main p {
    font-size: 1.2em;
}

.buttons_main {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
}

.buttons_main a{
    text-decoration: none;
    color: var(--cor-contraste);
    display: block;
    padding: 20px;
    font-weight: bold;
    border-radius: 50px;
}

.buttons_main a.destaque_button_book {
    background-color: var(--cor-destaque);
    color: white;
}

.buttons_main a.destaque_button_book:hover, .buttons_main a.destaque_button_book:focus{
    background-color: var(--cor-destaque-claro);
}

.buttons_main a.menu_button {
    border: 2px solid var(--cor-contraste);
}

.buttons_main a.menu_button:hover {
    background-color: var(--semi-transparente);
}
