div:has(#contact){
    background-color: var(--cor-contraste);
    width: var(--full-screen-width);

}

#contact {
    width: var(--quase-width-full-screen);
    padding: var(--padding-6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

#contact .informations {
    display: flex;
    flex-direction: column;
    gap: var(--gap-19);
    font-size: var(--button-font-size);
}

#contact .social a:has(svg):hover {
    background-color: var(--cor-semi-semi-preto);
}

#contact .informations div, #contact .social{
    display: flex;
    gap: var(--gap-19);
    color: var(--cor-contraste-do-contraste);
    align-items: center;
}

#contact .social a:has(svg){
    background-color: var(--cor-contraste-blur);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width-bullet-ball);
    height: var(--height-bullet-ball);
    border-radius: var(--full-radius);
}

nav {
    width: var(--quase-width-full-screen);
    padding: var(--padding-6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo a, .logo{
    display: flex;
    align-items: center;
    gap: var(--gap-20);
    text-decoration: none;
    color: var(--cor-contraste);
    font-size: var(--logo-font-size);
}

nav ul {
    max-width: var(--width-hamburguer);
    max-height: var(--height-menu);
    overflow: auto;
    z-index: 999;
    display: none;
    flex-direction: column;
    gap: var(--gap-47);
    border: var(--border-width-3) solid var(--cor-contraste);
    border-radius: var(--border-radius-1);
    background-color: var(--cor-contraste-do-contraste);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    padding: var(--padding-13);
}

nav ul::-webkit-scrollbar {
    display: none;
}

@media screen and (max-height: 500px) {
    nav ul {
        max-height: var(--height-minor-menu);
        left: 0;
        top: 0;
        transform: translate(0, 0);
    }
}

.hamburguer {
    border:none;
    color: transparent;
    display: flex;
    flex-direction: column;
    gap: var(--gap-22);
    padding: var(--padding-7);
    border-radius: var(--border-radius-1);
}

.hamburguer:hover {
    background-color: var(--cor-contraste);
}

.hamburguer span{
    display: block;
    background-color: var(--cor-contraste);
    width: var(--hamburguer-width);
    height: var(--hamburguer-height);
}

.hamburguer:hover span {
    background-color: var(--cor-contraste-do-contraste);
}

.exit button{
    border: none;
    background-color: transparent;
}

nav ul a, .exit button, nav ul .book{
    width: var(--quase-quase-width-full-screen-2);
    max-width: var(--quase-quase-width-full-screen);
    text-decoration: none;
    text-align: center;
    color: var(--cor-contraste);
    display: block;
    font-weight: var(--strong-weight);
    padding: var(--padding-8);
    border-radius: var(--border-radius-button);
}

.exit button:hover, .exit button:focus {
    background-color: var(--cor-destaque);
    color: var(--cor-contraste-do-contraste);
}

nav ul a:hover, nav ul a:focus{
    background-color: var(--cor-semi-preto);
}

nav ul a.actual {
    background-color: var(--cor-semi-preto);
}

nav .book{
    text-decoration: none;
    text-align: center;
    font-size: var(--button-font-size);
    color: var(--cor-contraste);
    padding: var(--padding-9);
    border: var(--border-width-1) solid var(--cor-contraste);
    border-radius: var(--border-radius-button);
    font-weight: bold;
}

nav .book:hover, nav .book:focus{
    background-color: var(--cor-semi-preto);
}

.header_main {
    background-color: var(--cor-contraste);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.216), rgba(0, 0, 0, 0.101)), url('../imgs/imagem_header.png');
    text-align: center; 
}

.header_main > div {
    width: var(--cem-width);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--gap-23);
    background-color: var(--semi-transparente);
    border-radius: var(--border-radius-1);
    padding: var(--padding-section-pc);
}

.header_main h2 {
    font-size: var(--major-h2-size);
    font-weight: var(--semi-strong-weight);
}

.header_main p {
    font-size: var(--p-size);
}

.buttons_main {
    display: flex;
    flex-wrap: wrap;
    gap:var(--gap-24);
    justify-content: center;
}

.buttons_main a{
    width: var(--cem-width);
    text-decoration: none;
    color: var(--cor-contraste);
    display: block;
    padding: var(--padding-10);
    font-weight: bold;
    border-radius: var(--border-radius-button);
}

.buttons_main a.destaque_button_book {
    background-color: var(--cor-destaque);
    color: var(--cor-contraste-do-contraste);
}

.buttons_main a.destaque_button_book:hover, .buttons_main a.destaque_button_book:focus{
    background-color: var(--cor-destaque-claro);
}

.buttons_main a.menu_button {
    border: 2px solid var(--cor-contraste);
}

.buttons_main a.menu_button:hover {
    background-color: var(--semi-transparente);
}
