#contact {
    max-width: 1296px;
}

#contact .informations {
    flex-direction: row;
}

div:has(nav) {
    width: 100%;
    padding: 10px 100px;
}

.logo a, .logo{
    font-size: 1.2em;
}

nav ul {
    display: flex;
    gap: 10px;
}

.header_main {
    padding: 50px 0;
}

.header_main > div {
    width: 600px;
}

.header_main h2 {
    font-size: 5em;
}