#infos {
    background-color: var(--cor-diferenciado-branco);   
    padding: var(--padding-section-pc);
    display: flex;
    justify-content: center;
    gap: var(--gap-33);
}

#infos > .first-side {
    width: var(--mid-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#infos h2 {
    font-weight: lighter;
    font-size: var(--h2-size-pc);
}

.informations {
    display: flex;
    flex-direction: column;
    gap: var(--gap-34);
}

#infos > .first-side ul {
    height: var(--quase-cem-height);
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

#infos > .first-side ul li {
    background-color: var(--cor-contraste-do-contraste);
    display: flex;
    width: var(--cem-width);
    height: var(--cem-height);
    border: var(--border-width-1) solid var(--border-color);
    border-radius: var(--border-radius-1);
    align-items: center;
    justify-content: center;
    text-align: center;
}

#infos > .first-side ul li strong {
    font-weight: lighter;
    font-size: var(--h2-size-pc);
    font-family: var(--fonte-header);
}

#infos .last-side img {
    border-radius: var(--border-radius-1);
}

