#infos > div {
    width: var(--cem-width);
}

#infos .first-side {
    width: calc(var(--cem-width) - var(--padding-section-pc));
    flex-wrap: nowrap;
    min-height: 100%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
}

#infos h2 {
    font-size: var(--h2-size-pc);
}

#infos .first-side > div {
    margin-right: var(--margin-17);
}

#infos .first-side ul li {
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--width-7) - var(--gap-35)/2);
    min-height: calc(var(--mid-height) - var(--gap-35)/2);
}

.last-side {
    padding: var(--padding-28);
}

@media screen and (min-width: 1300px){ 
    #infos .first-side {
        width: var(--mid-width);
    }

    #infos > div{
        padding: var(--padding-section-pc);
        margin: auto;  
        justify-content: center;
    }

    #infos .last-side img {
        display: block;
        border-radius: var(--border-radius-1);
    }   
}

