#menu > div > .text .title {
    width: var(--width-8);
}

#menu h2 {
    font-size: var(--h2-size-pc-especial);
} 

.div-search-input-menu {
    border: var(--border-width-1) solid var(--cor-destaque);
    padding: 0 0;
    width: 40px;
    transition: .2s;
    justify-content: center;
}

.div-search-input-menu:has(input:focus) {
    padding: 0 var(--padding-20);
    width: 200px;
    transition: .2s;
}

.div-search-input-menu:has(input:focus)  #search-input-menu{
    position: static;
    transform: translateX(0);
    transition: .2s;
}

.div-search-input-menu #search-input-menu{
    position: absolute;
    transform: translateX(-100000px);
    background-color: transparent;
    transition: .2s;
}

.components article {
    width: var(--width-9);
}