#menu {
    padding: var(--padding-section-pc);
    text-align: center;
}

#menu > div {
    max-width: var(--width-size-max);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#menu > div > .text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-37);
    width: fit-content;
    margin: auto;
    align-items: center;
}

#menu > div > .text .title {
    width: var(--width-8);
}

#menu h2 {
    font-size: var(--h2-size-pc-especial);
    font-weight: lighter;
}

#menu .hub-menus {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-38);
}

#menu .hub-menus input{
    display: none;
}   

#menu .hub-menus input:checked + label {
    background-color: var(--cor-destaque);
    color: white;
    outline: none;
}

#menu .hub-menus label {
    width: fit-content;
    padding: var(--padding-17) var(--padding-18);
    outline: var(--border-width-2) solid var(--cor-contraste);
    border-radius: var(--border-radius-button);
}

.components {
    margin-top: var(--padding-section-pc);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: wrap;
    gap: var(--gap-40);
}

.components article {
    height: 100%;
    width: var(--width-9);
    border: var(--border-width-2) solid var(--cor-contraste);
    border-radius: var(--border-radius-2);
    overflow: hidden;
}

.components article > div {
    padding: var(--padding-19);
    display: flex;
    flex-direction: column;
    justify-content: spa;
    gap: var(--gap-39);
}

.components article > div strong {
    color: var(--cor-destaque);
    font-size: var(--strong-size-2);
}

.components article > div h3 {
    font-size: var(--h3-fontsize);
}