#order-apps > div {
    text-align: left;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    max-width: var(--width-size-max-2);
    margin: auto;
    justify-content: center;
    font-size: var(--p-size);
}

#order-apps img {
    width: var(--width-img-order-apps);
    height: var(--height-img-order-apps);
}

#order-apps p {
    font-size: var(--p-size);
}

#order-apps h2{
    font-size: var(--h2-size-pc);
}