#services article {
    width: var(--width-5);
}

#services h2{ 
    width: var(--mid-width);
    font-size:var(--h2-size-pc);
} 

#services article img {
    width: var(--width-5);
    height: var(--height-5);
}

#services div > div:has(article) {
    width: var(--cem-width);
}