#services {
    padding: 50px 20px;
}

.services {
    margin: auto;
    max-width: 1296px;
}

#services h2{ 
    font-size:55px;
    font-weight: lighter;
    width: 600px;
    margin-bottom: 50px;
}

#services div > div:has(article) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#services article {
    width: 306px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#services article img {
    width: 306px;
    height: 320px;
    border-radius: 20px;
}

#services article h3 {
    font-size: 1.5em;
}

#services article p {
    font-weight: light;
}