@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-contraste: #474747;
    --cor-contraste-blur: #f9f9f739;
    --cor-contraste-blur-2:#4747470d; 
    --cor-semi-preto: #DBDFD0;
    --cor-semi-semi-preto: #9c9e95;
    --cor-contraste-do-contraste: white;
    --cor-destaque: #AD343E;
    --cor-destaque-claro: #ad343e98;
    --cor-cinza: #f1f1f1;
    --cor-diferenciacao: rgba(230, 230, 230, 0.341);
    --cor-diferenciado-branco: #F9F9F7;
    --border-color: #DBDFD0;
    --semi-transparente: rgba(255, 255, 255, 0.734);
    
    --width-size-max: 1400px;
    --width-size-max-2: 1296px;
    --height-img-about: 500px;
    --width-img-about: 500px;
    --cem-width:100%;
    --cem-height: 100%;
    --quase-cem-height: 64%;
    --full-screen-width: 100vw;
    --width-info: 411px;
    --width-weprovide: 500px;
    --mid-height: 50%;
    --mid-width: 50%;
    --mid-width-more: 70%;
    --max-width-1: 400px;
    --height-2: 600px;
    --mid-width-screen: 50vw;
    --width-blog: 400px;
    --height-3: 800px;
    --width-menu-item: 300px;
    --width-1: 103px;
    --height-4: 101px;
    --height-5: 320px;
    --width-2: 40%;
    --width-3: 77px;
    --width-4: 600px;
    --quase-width-full-screen: 90vw;
    --quase-quase-width-full-screen: 665px;
    --quase-quase-width-full-screen-2: 70vw;
    --height-img-event: 320px;
    --width-5: 306px;
    --width-6: 50%;
    --width-7: 50%;
    --width-whattheysay: 416px;
    --height-menu: 500px;
    --height-minor-menu: 300px;
    --height-min-video: 600px;
    --height-min-video2: 200px;
    --width-demonstrations: 27%;
    --height-6: 200px;
    --width-8: 500px;
    --width-9: 306px;
    --width-img-order-apps: 828px;
    --height-img-order-apps: 350px;
    --width-10: 500px;

    --width-guide-ball: 20px;
    --height-guide-ball: 20px;
    --width-bullet-ball: 30px;
    --height-bullet-ball: 30px;
    --hamburguer-width: 20px;
    --hamburguer-height: 2px;
    --width-play: 106px;
    --height-play: 106px;

    --width-img-footer: 150px;
    --height-img-footer: 150px;
    --major-width-container-img-footer: 200px;
    --major-height-container-img-footer: 200px;
    --width-exit-button: 50px;
    --height-exit-button: 50px;

    --padding-section-pc: 50px;
    --padding-section-pc-video: 90px;
    --padding-bottom-1: 50px;
    --padding-section-phone: 35px;
    --padding-section-phone-minor: 20px;
    --padding-section-phone2: 25px;
    --padding-1: 15px;
    --padding-2: 10px;
    --padding-3: 20px;
    --padding-4: 20px;
    --padding-5: 10px;
    --padding-6: 10px;
    --padding-7: 10px;
    --padding-8: 20px;
    --padding-9: 15px;
    --padding-10: 20px;
    --padding-11: 10px;
    --padding-12: 7px;
    --padding-13: 20px;
    --padding-14: 40px;
    --padding-15: 20px;
    --padding-16: 15px;
    --padding-17: 10px;
    --padding-18: 30px;
    --padding-19: 35px;
    --padding-20: 5px;

    --margin-1: 20px;
    --margin-2: 150px;
    --margin-3: 50px;
    --margin-4: 5%;
    --margin-5: 10px;
    --margin-6: 20px;
    --margin-7: 30px;
    --margin-8: 20px;
    --margin-9: 50px;
    --margin-10: 50px;
    --margin-11: 50px;
    --margin-12: 30px;
    --margin-13: 50px;
    --margin-14: 50px;
    --margin-15: 50px;
    --margin-16: 10px;
    --margin-17: 20px;
    --margin-18: 25px;

    --gap-1: 10px;
    --gap-2: 20px;
    --gap-3: 20px;
    --gap-4: 15px;
    --gap-5: 20px;
    --gap-6: 30px;
    --gap-8: 10px;
    --gap-9: 20px;
    --gap-10: 50px;
    --gap-11: 10px;
    --gap-12: 15px;
    --gap-13: 20px;
    --gap-13: 50px;
    --gap-14: 10px;
    --gap-15: 20px;
    --gap-16: 30px;
    --gap-17: 10px;
    --gap-18: 200px;
    --gap-19: 10px;
    --gap-20: 10px;
    --gap-22: 2px;
    --gap-23: 15px;
    --gap-24: 20px;
    --gap-25: 10px;
    --gap-26: 20px;
    --gap-27: 20px;
    --gap-28: 20px;
    --gap-29: 15px;
    --gap-30: 20px;
    --gap-31: 15px;
    --gap-32: 15px;
    --gap-33: 30px;
    --gap-34: 15px;
    --gap-35: 20px;
    --gap-36: 20px;
    --gap-37: 40px;
    --gap-38: 10px;
    --gap-39: 10px;
    --gap-40: 20px;

    --left-section-info: 200px;
    --top-section-info: 290px;
    --top-mid: 50%;

    --title-weight: lighter;
    --h2-size-pc: 55px;
    --h2-size-pc-especial: 100px;
    --h2-main-size-pc: 5em;
    --h2-size-phone: 2em;
    --h2-size-phone-especial: 4em;
    --strong-size: 18px;
    --strong-size-2: 24px;
    --strong-weight: 500;
    --semi-strong-weight: 200;
    --button-font-size: 0.8em;
    --buton-weight: bold;
    --logo-font-size: 1.05em;
    --major-h2-size: 3em;
    --p-size: 1.2em;
    --p-size-2: 0.8em;
    --h3-fontsize: 1.5em;

    --grid-size-standart: 1fr;
    --grid-size-1: 300px;
    --grid-size-2: 386px;
    --grid-size-3: 250px;
    --grid-size-4: 380px;

    --border-width-1: 2px;
    --border-width-2: 1px;
    --border-width-3: 0.5px;
    --border-radius-1: 10px;
    --border-radius-2: 15px;
    --border-radius-button: 50px;
    --full-radius: 50%;

    --fonte-padrao: "DM Sans", sans-serif;
    --fonte-header: "Playfair Display", serif;
}

body {
    width: var(--full-screen-width);
    overflow-x: hidden;
    font-family: var(--fonte-padrao);
}

h1, h2 {
    font-family: var(--fonte-header);
}

.button-move-scroll button{
    background-color: var(--cor-contraste-do-contraste);
    border: var(--border-width-1) solid var(--cor-destaque);
    border-radius: var(--border-radius-button);
    padding: var(--padding-2);
}

div:has(.button-move-scroll), section:has(.button-move-scroll) {
    position: relative;
}

.button-move-scroll {
    position: absolute;
    display: none;
}

div:has(.button-move-scroll):hover .button-move-scroll, section:has(.button-move-scroll):hover .button-move-scroll {
    display: block;
}


.button-move-scroll:has(.toleft) {
    top: var(--top-mid);
    margin-left: var(--margin-4);
    transform: translateY(-50%);
    left: 0%;
}

.button-move-scroll:has(.toright) {
    right: 0%;
    margin-right: var(--margin-4);
    transform: translateY(-50%);
    top: var(--top-mid);
}

.button-move-scroll button:hover {
    background-color: var(--cor-semi-preto);
}

.guide-balls {
    display: flex;
    width: fit-content;
    margin: var(--margin-7) auto;
    gap: var(--gap-8);
}

.guide-balls span{
    display: block;
    width: var(--width-guide-ball);
    height: var(--height-guide-ball);
    background-color: var(--cor-contraste-do-contraste);
    border: var(--border-width-2) solid var(--cor-contraste);
    border-radius: var(--full-radius);
}

@media screen and (max-width: 1296px){
    :root{
        --height-3: 1500px;
    }
}

@media screen and (min-width: 950px){
    .guide-balls {
        display: none;
    }
    
    .button-move-scroll {
        display: none;
    }
    
    div:has(.button-move-scroll):hover .button-move-scroll, section:has(.button-move-scroll):hover .button-move-scroll {
        display: none;
    }
}