#video-demonstration .video .appear_main{
    min-height: var(--height-min-video);
}

#video-demonstration .video h2 {
    width: var(--width-6);
    font-size: var(--h2-size-pc);
}

.about-video {
    flex-direction: row;
    flex-wrap: wrap;
}

.about-video article {
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    border: none;
    border-radius: 0;
    flex-basis: var(--width-demonstrations);
    display: flex;
    align-items: flex-start;
    gap: var(--gap-30);
}

#video-demonstration .video .iframe_video {
    padding: var(--padding-section-pc);
    min-height: var(--height-min-video);
}

#video-demonstration .video .iframe_video .iframe {
    padding: 0;
    width: fit-content;
    height: fit-content;
}

#video-demonstration .video .iframe_video iframe {
    position: static;
    width: 840px;
    height: 472.5px;
}
