#what-they-say {
    padding: var(--padding-section-pc);
    max-width: var(--width-size-max);
    margin: auto;
}

#what-they-say h2 {
    font-size: var(--h2-size-pc);
}

.coments {
    width: var(--cem-width);
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-28);
}

#what-they-say article {
    margin: 0;
    flex-shrink: 0;
}